.App {
  background-image: 
  url(
"https://images.unsplash.com/photo-1571330735066-03aaa9429d89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  height: 100vh;
  background-repeat:no-repeat; 
}
.nav-bar{
  height: 100px;
}
.logo{
  width: 48px;
  height: 48px;
  color: rgb(255, 106, 0);
}

.brand-logo{
  display: flex;
  margin-left: 40px;
  margin-top: 22px;
}
.brand-name{
  margin-top:15px;
  color: azure;
  margin-left: 5px;
}
.body-part{
  width: 100px;
  height: 350px;
  background-color: rgb(31, 29, 29);
  align-content: center;
}
